[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/Vimux/Mainroad
[submodule "themes/theer"]
	path = themes/theer
	url = https://github.com/qqhann/theer.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
